
.responsive-menu{
    display: none;
}

.responsive-menu *{
    transition: all 0.5s;
}


@media screen and (max-width : 650px){
    .organization-link, .header-links{
        display: none;
    }
    .responsive-menu{
        display: unset;
        cursor: pointer;
    }

    #toggle-button {
        display: none;
    }
    .responsive-menu__content{
        display: none;
    }

    #toggle-button:checked + .responsive-menu__content {
        display: unset;
    }


    
}