.list__item--vertical .post-preview-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list__item--vertical .post-preview-card__image-preview {
  height: calc(100% - 130px);
}

@media only screen and (min-width: 640px) {
  :where(.list__items--highlight.list__items--4)
  .list__item:where(.list__item:nth-child(2), .list__item:nth-child(3), .list__item:nth-child(4))
  .post-preview-card {
    display: flex;
    gap: 10px;
  }
  
  :where(.list__items--highlight.list__items--4)
  .list__item:where(.list__item:nth-child(2), .list__item:nth-child(3), .list__item:nth-child(4))
  .post-preview-card > div {
    width: 50%;
  }
}